*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(194, 223, 180);
}
nav{
    display : flex;
    width: 100%;
    height: 80px;
    justify-content: flex-start;
    background-color: rgb(255, 255, 255);
}
a{
    color: inherit; 
    text-decoration: none;
    margin-top: 10px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding-right: 150px;
    padding-left: 160px;
}
.part1 {
    width: 100%;
    height: 5px;
    background-color: black;
}
.part2 {
width: 100%;
height: 100px;
}
.blok1 {
    border-radius: 10px;
    box-shadow: 10px 10px;
    margin-left: 10%;
width: 80%;
height: 500px;
background-color: rgb(255, 255, 255);
}

.lucht {
width: 100%;
height: 300px;
}

.blok2 {
    box-shadow: 10px 10px;
    margin-left: 10%;
width: 80%;
height: 500px;
background-color: rgb(255, 255, 255);
}

.blok3 {
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 10px;
    margin-left: 10%;
width: 80%;
height: 500px;
background-color: rgb(255, 255, 255);
}
    
.productimage {
    
    width: auto;
    height: 450px;

}